.crystal {
	border:1px solid black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron {
	text-align: center;

}

.jumbotron h1 {
	font-weight: 400;
	font-size: 1.5em;
	padding-bottom: 50px
}

.btn {
	background-color: black;
	color: white;
	width: 100px;
	height: 40px;
}

body {
	font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.vector {
	height: 50px;
}

.data, .profile {
	display: none;
}

.crystal_image {
	padding-top: 10px;
}

.top-buffer { 
	margin-top:20px; 
}